

.top {
    -fx-background-color:#98a8bd  ;
}

.main{
    /*-fx-background-color: #5b8a72;
    -fx-background-color: linear-gradient(#98a8bd 0%, #8195af 25%, #6d86a4 100%);*/
    -fx-background-color:#98a8bd  ;
}

.button {
}
