
.top {
    -fx-background-color: #6d86a4


}

.main {
    -fx-background-color: #6d86a4

}


.searchButton {
    /* -fx-background-image: url("./images/search.png");*/
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-weight: bold;

}

.searchButton:hover {
    -fx-background-color: #e0f8ff;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}


.showAllButton {
    /*-fx-background-image: url("./images/showAll.png");*/
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-weight: bold;

}

.showAllButton:hover {
    -fx-background-color: #e0f8ff;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.tooltip {
    -fx-show-delay: 300ms;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-alignment: left;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color: #6622CC;
    -fx-font-size: 16px;
}

.table-view .cell {
    -fx-cell-size: 35;
    -fx-font-size: 14;
    -fx-text-alignment: center;
}

.placeholder {
    -fx-font-size: 18;
}
